In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from acquire import get_telco_data

# Acquire telco data

In [2]:
df = get_telco_data()

In [3]:
df.isna().sum()

contract_type_id            0
internet_service_type_id    0
payment_type_id             0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
payment_type                0
internet_service_type       0
contract_type               0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   contract_type_id          7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   payment_type_id           7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  payment_type              7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  contract_type             7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [8]:
df[df.churn == 'Yes']

,contract_type_id,internet_service_type_id,payment_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,payment_type,internet_service_type,contract_type
3,1,1,1,0023-HGHWL,Male,1,No,No,1,No,...,No,No,No,Yes,25.10,25.1,Yes,Electronic check,DSL,Month-to-month
4,1,1,3,0032-PGELS,Female,0,Yes,Yes,1,No,...,No,No,No,No,30.50,30.5,Yes,Bank transfer (automatic),DSL,Month-to-month
5,1,1,1,0067-DKWBL,Male,1,No,No,2,Yes,...,No,No,No,Yes,49.25,91.1,Yes,Electronic check,DSL,Month-to-month
11,1,1,3,0117-LFRMW,Male,0,Yes,Yes,37,No,...,No,No,No,No,40.20,1448.8,Yes,Bank transfer (automatic),DSL,Month-to-month
13,1,1,1,0156-FVPTA,Male,0,Yes,No,22,Yes,...,Yes,No,No,Yes,54.20,1152.7,Yes,Electronic check,DSL,Month-to-month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6440,3,3,3,0607-DAAHE,Male,0,No,Yes,53,Yes,...,No internet service,No internet service,No internet service,No,19.75,1052.35,Yes,Bank transfer (automatic),None,Two year
6465,3,3,4,1043-YCUTE,Male,0,Yes,No,56,Yes,...,No internet service,No internet service,No internet service,Yes,25.15,1327.15,Yes,Credit card (automatic),None,Two year
6807,3,3,2,6323-AYBRX,Male,0,No,No,59,Yes,...,No internet service,No internet service,No internet service,No,19.35,1099.6,Yes,Mailed check,None,Two year
6910,3,3,2,7951-QKZPL,Female,0,Yes,Yes,33,Yes,...,No internet service,No internet service,No internet service,Yes,24.50,740.3,Yes,Mailed check,None,Two year
6951,3,3,4,8515-OCTJS,Female,0,No,No,25,Yes,...,No internet service,No internet service,No internet service,No,24.75,692.1,Yes,Credit card (automatic),None,Two year

In [6]:
(df.gender == 'Female').sum()

3488

In [15]:
df[(df.churn == 'Yes') & (df.tenure > 12) & (df.contract_type == 'Month-to-month')].shape

(631, 24)

In [17]:
df[(df.churn == 'Yes') & (df.tenure > 12) & (df.contract_type == 'One year')].shape

(153, 24)